.picture-item {
  margin: 10px;
  width: auto;
  height: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.picture-item:hover .pic-title {
  bottom: 0;
}

.picture-item .pic-img{
  height: 100%;
}

.pic-title{
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  color: black;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, .4);
  transition: all .5s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}