.pic-wrap{
  display: grid;
  width: 80%;
  margin: 50px auto;
  min-height: calc( 100vh - 76px );
  grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px,1fr));
  gap: 10px;
}
.picture-item {
  cursor: pointer;
  overflow: hidden;
}

.pic-title{
  color: #fff;
  overflow: hidden;
  width: 100%;
  text-align: center;
}