#loginPanel {
  width: 500px;
  height: 400px;
  margin: 80px auto 0;
  background-color: #9DA2DF;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

#loginPanel .loginBtn{
  display: block;
  width: 55%;
  margin: 5px auto;
}

#loginPanel .loginForm{
  width: 75%;
  margin: auto;
}