#upload-component{
  height: 200px;
  border: 1px dashed #001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#UploadPage .ant-form input[type='file'] {
  display: none;
}
.ant-form .inputFile{
  width: 100%;
  height: 100%;
  display: none;
}

#UploadPage {
  width: 100%;
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  background-color: #ecf0f1;
  flex-direction: column;
  align-items: center;
  
}

.ant-form.uploadForm{
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.clickUploadSpan{
  color: #1890ff;
  cursor: pointer;
}

.uploadForm .tagInput{
  width: 78px;
  /* vertical-align: top; */
  margin: 4px 0;
}

.uploadForm .tag {
  margin: 4px
}