.App {
  background-color: black;
  min-height: 98vh;
  border: 1px solid black;
  position: relative;
  color: white;
}

#picture-content {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}


::-webkit-scrollbar{
  width: 6px;
}